<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.drug.hxb.mapper.StorageMapper">
	
	<!-- 原料入库 -->
	<insert id="addMaterialInventory" parameterType="Warehouse">
	  insert into Warehouse values(null,#{warName},#{warType},#{warAddress},#{warTel});
	</insert>
	<update id="upinMaterialInventory" parameterType="Warehouse">
		update Warehouse set warName=#{warName},warType=#{warType},warAddress=#{warAddress},warTel=#{warTel}  where  warId=#{warId}
	</update>
	
	<!-- 原料库存查询 -->
	<select id="getMaterialInventory" resultType="RawMaterialInventory" parameterType="map">
		SELECT mi.miNumber,mi.`miMax`,wh.`warName`,minfo.*,s.`supplierName`,s.`supplierId` FROM `material_inventory` mi  JOIN `warehouse` wh ON mi.`warId`=wh.`warId`
		JOIN `material_info` minfo ON mi.`materialId`=minfo.`materialId` 
		JOIN `supplier` s ON s.`supplierId`=minfo.`supplierInfoId`
		where minfo.`visibles`=1
			<if test="warId!=0">
				and wh.warId=#{warId}
			</if>
			<if test="supplierId!=0">
				and s.supplierId=#{supplierId}
			</if>
			<if test="materialName!=null">
				and minfo.materialName like concat('%', #{materialName},'%')
			</if>
		limit ${pages},${limits}
	</select>
	
	<!-- 查询原料的条数 -->
	<select id="getMaterialInventoryCount" resultType="Integer">
		SELECT count(*) FROM `material_inventory` mi  JOIN `warehouse` wh ON mi.`warId`=wh.`warId`
		JOIN `material_info` minfo ON mi.`materialId`=minfo.`materialId` 
		JOIN `supplier` s ON s.`supplierId`=minfo.`supplierInfoId`
		WHERE minfo.`visibles`=1
	</select>
	
	<!-- 原料出库  -->
	<update id="upoutMaterialInventory" parameterType="Warehouse">
		update Warehouse set warName=#{warName},warType=#{warType},warAddress=#{warAddress},warTel=#{warTel}  where  warId=#{warId}
	</update>
	
	<!-- 原料库存查询条件查询 -->
	<select id="getMaterialSelects" resultType="MaterialSelects">
		SELECT wh.warName,minfo.`materialName`,s.`supplierName` FROM `material_inventory` mi  JOIN `warehouse` wh ON mi.`warId`=wh.`warId`
		JOIN `material_info` minfo ON mi.`materialId`=minfo.`materialId` 
		JOIN `supplier` s ON s.`supplierId`=minfo.`supplierInfoId`
		WHERE minfo.`visibles`=1 AND wh.warType='原料仓库'
	</select>
	<!-- 查询仓库 -->
	<select id="getWarehouseSelects" resultType="Warehouse" parameterType="String">
		select * from Warehouse where warType="原料仓库"
	</select>
	<!-- 查询员工  -->
	<select id="getEmployeeSelects" resultType="Employee" parameterType="Integer">
		select * from  Employee where roleId="2"
	</select>
	<select id="getEmployeeCounts" resultType="Integer">
		select count(*) from Employee where roleId="2"
	</select>
	<!--  查询供应商 -->
	<select id="getSupplierSelects" resultType="Supplier">
		select * from Supplier
	</select>
	<select id="getSupplierCounts" resultType="Integer">
		select count(*) from Supplier
	</select>
</mapper>