<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.drug.hxb.mapper.Warehousemapper">
	<insert id="addWarehouse" parameterType="Warehouse">
	  insert into Warehouse values(warid,#{warName},#{warType},#{warAddress},#{warTel});
	</insert>
</mapper>